#wpcontent{
    padding: 0;
}

.kartly-admin-container{
    padding: 20px;
     background: #002f49;
}
.kartly-admin-title{
    width: 100% !important;
    padding: 20px;
    text-align: center;
    color: #f0e1b8;
    display: flex;
}
.kartly-admin-title h2{
    margin: 0;
    color: #f0e1b8;
    font-size: 25px;
}

.kartly-admin-title h6 {
    margin: 20px 0 0 20px;
    color: #f0e1b8;
    font-size: 10px;
}

.kartly-admin-body{
    background:  #f0e1b8;
    padding: 20px;
}

.options-area{
    display: flex;
}