
/* side cart body  */
.wscart-side-cart-body{
    position: fixed;
    background: #003049;
    width: 350px;
    /* height: 80vh; */
    top:100px; 
    /* right:0; */
    right: -700px;
    z-index: 999;
    transition: right .5s ease-in-out;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
}

/* cart item title  */

.wscart-topbar {
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;
}


.wscart-title{
    
    text-align: center;
    color:#f0e1b8;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wscart-close {
    display: flex;
    width: 30px;
    padding: 5px;
    background: #fdf0d5;
    color: #003049;
    border-radius: 3px;
    height: 30px;
    align-items: center;
    justify-content: center;
}


.wscart-title span{
    margin-right: 10px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 20px;
}

/* cart item continue  */

.cart-items-container{
   background-color: #fdf0d5;
   padding: 5px;
   border-radius: 5px;
}
.cart-items-container .cart-table tr td{
    font-size: 14px;
    padding: 5px;
    font-weight: 600;
}



/* cart buttons   */

.wscart-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.ws-button{
    background-color: rgb(240, 225, 185);
    padding: 10px 25px;
    border-radius: 5px;
    color: #000; 
    margin-bottom: 10px;
   text-align: center;
   text-decoration: none;
}

.ws-button:hover{
   color: #49b4ed; 
}


/* .wsshopping-continue{

}

.ws-view-cart{

}


.ws-checkout{

} */


/* table contents css  */

.cart-table tr td{
    align-content: center;
    border: none;
} 
.close_btn_ws{
    width: 15px;
}

.close_btn_ws i{
    padding: 5px;
    background: #003049;
    color: #fdf0d5;
    border-radius: 3px;
}


td.item_image_ws {
    width: 50px;
    max-height: 50px;
    
}

td.item_image_ws img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.item_title_ws{
    /* width: 150px; */
    display: block;
}



td.item_title_quantity_wrapper_ws {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    flex-direction: column;
}



input.item_quantity_ws {
    padding: 2px !important;
    width: 40px !important;
    height: 25px;
    font-size: 12px;
    text-align: right;
}

.item_quantity_wrapper_ws {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-table{
    width: 100%;
    border: none;
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    /* border-radius: 5px !important; */
    margin: 0;
}

.item_total_ws{
    width: 50px;
    text-align: right;
}

.total-price_ws td{
    text-align: right;
}


/* quantity css  */

.quantity-selector {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px 8px;
}

.quantity-button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
  color: #555;
}

.quantity-number {
  /* width: 25px; */
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

/* cart coupon   */

.kartly-coupon{
    display: flex;
}

