
/* side cart body  */
.wscart-side-cart-body{
    position: absolute;
    background: #003049;
    width: 650px;
    /* height: 80vh; */
    top:100px; 
    right:0;
    /* right: -700px; */
    z-index: 999;
    transition: right .5s ease-in-out;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
}

/* cart item title  */
.wscart-title{
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wscart-title span{
    margin-right: 10px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 20px;
}

/* cart item continue  */

.cart-items-container{
   background-color: #fdf0d5;
   padding: 5px;
   border-radius: 5px;
}
.cart-items-container .cart-table tr td{
    font-size: 10px;
    padding: 5px;
}



/* cart buttons   */

.wscart-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.ws-button{
    background-color: rgb(240, 225, 185);
    padding: 10px 25px;
    border-radius: 5px;
    color: #000; 
    margin-bottom: 10px;
   text-align: center;
   text-decoration: none;
}

.ws-button:hover{
   color: #49b4ed; 
}


.wsshopping-continue{

}

.ws-view-cart{

}


.ws-checkout{

}


/* table contents css  */
.close_btn_ws{
    width: 15px;
}

.close_btn_ws i{
    padding: 5px;
    background: #003049;
    color: #fdf0d5;
    border-radius: 3px;
}


td.item_image_ws {
    width: 30px;
    max-height: 30px;
}

td.item_image_ws img {
    width: 30px;
    height: 30px;
}

.item_title_ws{
    /* width: 150px; */
}



td.item_quantity_wrapper_ws {
    display: flex;
    align-items: center;
    gap: 3px;
    /* width: 100px; */
}

input.item_quantity_ws {
    padding: 2px !important;
    width: 40px !important;
    height: 25px;
    font-size: 12px;
    text-align: right;
}


.cart-table{
    width: 100%;
    /* border: 1px solid black; */
    border-collapse: collapse;
    border-radius: 5px !important;
}

.item_total_ws{
    width: 100px;
    text-align: right;
}

.total-price_ws td{
    text-align: right;
}


/* quantity css  */

.quantity-selector {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px 8px;
}

.quantity-button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
  color: #555;
}

.quantity-number {
  /* width: 25px; */
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}



